---
---
<div class="sidebar">
  <img src="/asgan.svg" alt="Asgan" height="390px"/>
  <br />
  <h4 class="title-page">
    an<br/>
    independent<br/>
    scientist
  </h4>

  <p class='author'>
    <a href='mailto:email@luisignac.io'>send me an email</a>
  </p>

  <p class='author'>
    <a href='https://a.co/e28ijxP'>buy me a book</a>
  </p>

  <p class='author'>
    <a href='https://github.com/thelastinuit'>see my code</a>
  </p>

  <p class='author'>
    <a href='https://gitlab.com/thelastinuit'>and here too</a>
  </p>

  <p class='author'>
    <a href='https://angel.co/thelastinuit'>see a portfolio</a>
  </p>

  <p class='author'>
    <a href='https://stackoverflow.com/story/thelastinuit'>story of my development</a>
  </p>

  <p class='author'>
    <a href='/blog'>and, finally, how not to express yourself</a>
  </p>

  <link rel="stylesheet" href="/style.css">
</div>
