---
---
<!--
-----BEGIN PGP MESSAGE-----
Version: Keybase OpenPGP v2.1.13
Comment: https://keybase.io/crypto

wcFMA7tSSgVl99PZAQ//YuE5skotWARc5IUCGxLNSMS7pEbX0QYYadtSOTaDEuUD
r+CRO5XF9wYJKcT0mrezYfzMB8L8FgzYxNF7+P7HPrURRZLVcZ/6tPaAkR/9xinf
n/J12aRE3GMlLuLlR300mgQrplvHP5CGHrKMYYw434glwSVlAFAQabk7BP44BwLe
LZXwSha6/D05B9qlQ7hhC189oH1V5SsD2HHqnTocx7eoMCYtnJEJiDx8udoptykC
H8kIEhx0tjrnwTz2cwBCra2IVGgXo6d0W7rXtKqHDJci4sfwlALOA/0inHeQtiKp
SvcpX/EBZckuPnt+eTZCYHG00fs0qSHj8Kn0hhxcSGnYhaIxJRPtms2CmE8wH/8/
9sNMlVEudB3wQx5kto91eMnOsMKAjRaDj7mKnHafXbQ0CVebGvszkGzyXLsmvfMu
gLJGUQgvWDMRZ97AgZDQI4r+/OdnZm994ww2MaJ0eH4QSkgFm0iL0q+UF76TKuj+
kVIdgm+I5sNcwZfaj01YJl9cqg6V65EtMsG7n9kr9CyC957M7BPweAfpqK/3vdVX
u0a1FaZTbwVJh2d2JclTUTgJp/wpWOX08YU4BVX2ooqPpUtisZSvYxBptp4nCXZv
pK0s2plS/lrA860NZPuekG6KFVx3lWY98S3NtsDcZRS5UYaU+NiG98Ps5nfiIdXB
wUwDu1JKBWX309kBD/9jS/zjKjpm8m6ow3tHVGuAWF/wc85LNtNhuwc786+EcjXx
vAb493gwZ/7K7WrLNhegIJwvTU28jlOBxWuIyek5mgM+xy8+T3dXvFko63HIwUo7
ozyxc+O32QMvGhuXfFUOS6sI16wWxszbBT1hQKtU0daiSNg+oC5xnCAERR0Ioaqf
MDVXDww1xOeCsAnxSJ2V3p8NfrY/MK0yFflQlsYQyDEgif68ZOr23839vj/8YX9z
NxAvOHryNCLm8HREelQtuXk4zvEieNkRyihx9ie2e0ksUTGTiw0cPz1ejOxgt6yz
OjV5mgTx6xZY+rCja8pp4hEPQK7WHlE8PmZP8nvOgYg79nZZ3uCDGi5hoidRE6O3
qR6HXL+5Aq1nCG5umYfEdId7T0CY56LwQ8QIz2Utqtg2LpBrsX27RmlQAarNmLi9
PRkVahsvR6DyHTRR1I6h8ChxwfiT+8QujHs6YHMdGD/r83bc+HOa6SuycwYD+Tgq
gnrOtQEk/6bh1yEaGZR0Ck16fjQRbOx0c0W2xQX6nGxZTDK6zL3C8tpwQ7ZkixfC
wByu9mQaLuFtwyacXQxkCcon0lQ4cwvlndMhAevMgfD6TOI2o0b38cFcpV3QE/Ft
zwhIAx0afAjcozLs+j9rTG5/NAMD6Zca+TjR1ZfQTp4KNSlDojoMBlPdmin0vtLC
SwHNL/Iql7RvTjRIW6QeE+w/xsvysRDAesdnae4IfIX3SAF6MyvrgVLbfCU3gCTU
BUgNKdAP4ywJA/X2D87cPVDGhyo9lQ61ZS+yltOhacLLyny3ISCwEdNeR3L5AiUc
qvMl6D4XZm0zWN03y5cJj5+Gdej7w3ukYmHgpYJQR6sEpTx5DSnvKo7yB7+7kdf7
w9yUWx2w1MaQErNSCN4ddov3iCLgfAnKnK1EYjwyMIaA9XfgY5ZKAPtjVb5Il3dQ
yB5/NB6k23t5kEChPZiBwv74SwT1RWFHZeKuR7Ryni72+mtlZ7KIoRgqSauw0jDQ
me3kNvag8+cNURC7eyoHlX+x1gQj14Uye4/VvJsxsdXoEF86eSNkolXE4QxPN6X9
qtLhbffmdeMcm7uyBTW1Ob03pVm92d/XIxPtLrgjw91qKVKrQu0AlaVu63tZolsH
m6Tl0sS0mQnDTKzNYu2ZBNUvdIqu9a09aGIIdqfevQJo9HdTI/qSvJCDfu4YtpJL
YFCkPZcjriC0QqpjD1nOYNC93tATu0KU36Z8CQVNbK6WsdQgeA5DXnD+MU5N7vfU
ipUOZt8rSVi2Qohf+/JxniB4wSUM4apcOHa1skMy38OPxwajXM7Cm1IiaDiBvyFM
SJIYf8g94oGBXnf+107Sy6cBAIQ3JgWFuxmvy1C67OHGF2BcsjHX3rsuMBm6JGKh
w+B9aKLhEycpwkGLREKcXdJYQPdoRI2d4s9Si+3VCPMss96R+l7UJ3oa3GTzDeBf
zAyj/R0UM+PY6DDXOiByBqXEAVRVznpbIS2+Zri8iSpwwgRIHSPaKBQR+a7WscUo
nGgKQA9V5qo6FyU+EPsJlA31EtBMK1I0ygrGJSEU9qsDNdb+MnWajP4pKimHJ6QZ
RcCkYj04/oW3lRq5ska88XfbYeV3xqZrocGObhf3G7DAVXyYKqEusvRamU3C/hxu
/mFlto+Uto8WJl8cAgN/OeYzXW0Kls5fj7dW/kleLJAzL/9M3s/gx6U8/2km+JNP
gyDIL5aZcGtTbMv0
=2lKX
-----END PGP MESSAGE-----
-->
<div class="sidebar">
  <h4 class="title-page">
    an<br/>
    independent<br/>
    scientist
  </h4>

  <p class='author'>
    <a href='mailto:email@luisignac.io'>email</a>
  </p>

  <p class='author'>
    <a href='/resume'>resume</a>
  </p>

  <p class='author'>
    <a href='https://a.co/e28ijxP'>buy me a book</a>
  </p>

  <p class='author'>
    <a href='https://www.buymeacoffee.com/eQoyKMl'>buy me a coffee</a>
  </p>

  <p class='author'>
    <a href='https://github.com/thelastinuit'>code </a><a href='https://gitlab.com/thelastinuit'>and code</a>
  </p>

  <p class='author'> 
    <a href='https://www.stellar.org/'>GACNLTR2SJR5NOHSPLGJRNPS6Y6WCXRLXWBDI66KCDO4Y7DDALP4CNSP</a>
  </p>

  <p class='author'> 
    <a href='https://keybase.io/thelastinuit'>thelastinuit*keybase.io</a>
  </p>

  <link rel="stylesheet" href="/style.css">
</div>
